grupo2/subgrupo2/subsubgrupo1/liEvento.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.informatica.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:n="http://edenor.com.ar/" xmlns:infa="http://www.informatica.com/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://edenor.com.ar/" elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns="http://edenor.com.ar/" xmlns:infatype="http://www.informatica.com/types/">
      <xsd:import namespace="http://schemas.xmlsoap.org/wsdl/http/"/>
      <xsd:element name="boolean" type="xsd:boolean"/>
      <xsd:element name="int" type="xsd:int"/>
      <xsd:element name="LoginYInsertarEvento">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="SystemUser" minOccurs="0" maxOccurs="1" type="xsd:string"/>
            <xsd:element name="Password" minOccurs="0" maxOccurs="1" type="xsd:string"/>
            <xsd:element name="Dominio" minOccurs="0" maxOccurs="1" type="xsd:string"/>
            <xsd:element name="NroSerie" minOccurs="0" maxOccurs="1" type="xsd:string"/>
            <xsd:element name="Codigo" minOccurs="0" maxOccurs="1" type="xsd:string"/>
            <xsd:element name="Latitud" type="xsd:double"/>
            <xsd:element name="Longitud" type="xsd:double"/>
            <xsd:element name="Altitud" type="xsd:double"/>
            <xsd:element name="Velocidad" type="xsd:double"/>
            <xsd:element name="FechaHoraEvento" type="xsd:dateTime"/>
            <xsd:element name="FechaHoraRecepcion" type="xsd:dateTime"/>
            <xsd:element name="DriverName" minOccurs="0" maxOccurs="1" type="xsd:string"/>
            <xsd:element name="Mileage" minOccurs="0" maxOccurs="1" type="xsd:string"/>
            <xsd:element name="GeoZona" minOccurs="0" maxOccurs="1" type="xsd:string"/>
            <xsd:element name="Estado" minOccurs="0" maxOccurs="1" type="xsd:string"/>
            <xsd:element name="TiempoMarcha" minOccurs="0" maxOccurs="1" type="xsd:string"/>
            <xsd:element name="OdometroParcial" minOccurs="0" maxOccurs="1" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="LoginYInsertarEventoResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="LoginYInsertarEventoResult" type="xsd:int"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="LoginYInsertarEventoSoapIn">
    <wsdl:part name="parameters" element="n:LoginYInsertarEvento"/>
  </wsdl:message>
  <wsdl:message name="LoginYInsertarEventoSoapOut">
    <wsdl:part name="parameters" element="n:LoginYInsertarEventoResponse"/>
  </wsdl:message>
  <wsdl:portType name="LoginYInsertarEventoPort">
    <wsdl:operation name="LoginYInsertarEventoOperation">
      <wsdl:input message="infa:LoginYInsertarEventoSoapIn"/>
      <wsdl:output message="infa:LoginYInsertarEventoSoapOut"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="LoginYInsertarEventoBinding" type="infa:LoginYInsertarEventoPort">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <wsdl:operation name="LoginYInsertarEventoOperation">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LoginYInsertarEvento">
    <wsdl:port name="LoginYInsertarEventoPort" binding="infa:LoginYInsertarEventoBinding">
      <soap:address location="http://ipcde01:7333/wsh/services/RealTime/LoginYInsertarEvento"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>